h1 {
  margin: 40px;
}

.stanford-image-card {
  display:inline-block;
  margin: 5px;

}

.stanford-image-card img {
  width: 270px;

}

.stanford-image-card-title h3 {
  color: white;
  background-color: #175E54;
  margin: 0px;
  line-height: 1.75em;
  padding: 10px;
  font-size: 1.3em;
  font-weight: normal;
}
